@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Michroma&display=swap');

body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Michroma', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    margin: 0;
    background: #44b0d1;
    /* position: relative; */
    /* min-height: 100vh; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@media (max-width:799px) {}

@media (max-width:499px) {
    .tasks-container ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #add-todo-btn {
        right: 3px;
    }
}